<div class="row">
    <div class="col-md-4">
        <img src="../../../assets/Soldati, Agustín.jpg" class="img-fluid" id="perfil">
    </div>
    <div class="col-md-4">
        <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
        <h2>Full Stack Developer</h2>
    </div>
    <div class="col-md-4">
        <span>
            <h3>Acerca de mi</h3>
            <p>Soy apasionado de los emprendimientos, desde mi profesión y experiencia busco transmitir y generar valor en cada proyecto que emprendo. Curioso por naturaleza siempre busco capacitarme y aprender nuevas herramientas relacionadas con innovación y tecnología.</p>
        </span>
    </div>
</div>