<div class="row">
    <div class="col-md-4">
        <img src="../../../assets/Soldati, Agustín.jpg" class="img-fluid" id="perfil">
    </div>
    <div class="col-md-4">
        <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
        <h2>Full Stack Developer</h2>
    </div>
    <div class="col-md-4">
        <span>
            <h3>Acerca de mi</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa provident quaerat laboriosam, saepe amet repellat? Quidem commodi mollitia laudantium similique deleniti dolores reiciendis quaerat ea at amet corrupti debitis asperiores aliquid blanditiis enim ipsam earum sit officia ad, hic a dignissimos veniam? Earum minus iusto atque, obcaecati ullam laborum eum.</p>
        </span>
    </div>
</div>