<div class="row">
    <h1>Educación</h1>
    <div class="row">
         <div class="col-lg-1">
             <p>imagen trabajo</p>

         </div>          
         <div class="col-lg-11">
         <li>
              <h1>Educación 1</h1> - <h3></h3>
          </li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quam quibusdam tenetur adipisci inventore natus alias reiciendis animi incidunt nihil.
          </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
            <p>imagen trabajo</p>

        </div>          
        <div class="col-lg-11">
        <li>
             <h1>Educación 2</h1> - <h3></h3>
         </li>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quam quibusdam tenetur adipisci inventore natus alias reiciendis animi incidunt nihil.
         </p>
       </div>
   </div>
   <div class="row">
    <div class="col-lg-1">
        <p>imagen trabajo</p>

    </div>          
    <div class="col-lg-11">
    <li>
         <h1>Educación 3</h1> - <h3></h3>
     </li>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quam quibusdam tenetur adipisci inventore natus alias reiciendis animi incidunt nihil.
     </p>
   </div>
</div>
