<div class="row">
    <div></div>
    <h2>Habilidades</h2>
    <div class="text-center col-cm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'lightblue'"
        [titleFontSize]="'30px'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
<div class="text-center col-cm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'lightblue'"
        [titleFontSize]="'30px'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
<div class="text-center col-cm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'lightblue'"
        [titleFontSize]="'30px'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
<div class="text-center col-cm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'lightblue'"
        [titleFontSize]="'30px'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
<div class="text-center col-cm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'lightblue'"
        [titleFontSize]="'30px'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
<div class="text-center col-cm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'lightblue'"
        [titleFontSize]="'30px'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
</div>
</div>
